<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <main>
  <%= for post <- @posts do %>
    <article class="row">
      <p><%= post.creation_date %></p>
      <p><%= post.description %></p>
    </article>
  <% end %>
  </main>
</body>
</html>
