<p><a href="/index.html">&laquo; Back to index</a></p>
<article>
  <h1><%= @post.title %></h1>
  <p><%= @post.creation_date %></p>
  <ul>
    <%= for tag <- @post.tags do %>
      <li> <%= tag %> </li>
    <% end %>
  </ul>
  <%= @post.content %>
</article>
